<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
       <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/512/1146/1146273.png" alt="" />
     </div>
     <br></br>
     <div class="row">
       <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Carga</button>
       <!-- unidireccional [[aqui la propiedad]] y bidireccional {{aqui la propiedad :: y el componente}}-->
       <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
       <input type="text" value="[[prop1]]">
       <!--<table class="table table-striped col-lg-12 col-xs-12">-->
       <!--<table class="table table-striped">-->
       <table class="table table-striped table-bordered">
         <thead>
           <th>ID</th>
           <th>Nombre</th>
           <th>Apellido</th>
         </thead>
         <tbody>
           <tr>
             <td>[[prop2]]</td>
             <td>Elena</td>
             <td>Nito</td>
           </tr>
           <tr>
             <td>2</td>
             <td>Leandro</td>
             <td>Gao</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
   <h2>Hello [[prop1]]!</h2>
   <h3>Mi valor es [[prop2]]</h3>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class MiVisor extends Polymer.Element {
     static get is() { return 'mi-visor'; }
     static get properties() {
       return {
         prop1: {
           type: String//,
         //  value: 'mi-visor'
         },
         prop2: {
           type: Number,
           value: 999
         },
         prop3: {
           type: String,
           value: 'Indique su usuario'


         }

       };
     }
     incrementar(){
       this.prop2 = this.prop2 + 1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
   }

   window.customElements.define(MiVisor.is, MiVisor);
 </script>
</dom-module>
